div#Screen
{
    margin : auto;
    margin-top : 10%;
    min-width : 310px;
    max-width : 450px;
    min-height: 310px;
    max-height: 450px;
    border: 5px solid black;
    border-radius : 50px;
    padding: 10px;

    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}

h2
{
    position : relative;
    text-align : center;
}

