<div id="Screen">
    <div *ngIf="showHome">
        <h2>
            Welcome to PhoenixTheatre
        </h2>
        <h3>
            <button (click)="ReturnedCus()">Returned Customer</button><br>
            <button (click)="NewCus()">New Customer</button>
        </h3>
    </div>
    <div *ngIf="showNew">
        <h2>
            New Customer Infomation
        </h2>
        <h3>
            <form>
                <label for="fname">First Name:</label><br>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Last Name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="Username">Username:</label><br>
                <input type="text" id="Username" name="Username"><br><br>
                <label for="Password">Password:</label><br>
                <input type="password" id="Password" name="Password"><br><br>
                <button>Sign Up</button><br>
            </form>
            <button (click)="Back()">Back</button>
        </h3>
    </div>
    <div *ngIf="showReturn">
        <h2>Login</h2>
        <h3>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="pasword" name="password" required><br><br>
            <button>Login</button><br>
            <button (click)="Back()">Back</button>

        </h3>
    </div>
</div>